
.dashboard-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 40px 30px;
  background: #08be45;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
  color: #333;
}

.logo-container {
  margin-bottom: 25px;
}

.logo-container img {
  max-width: 190px;
  height: auto;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.1));
}

.dashboard-container h1 {
  font-weight: 800;
  font-size: 2.4rem;
  color: #089151;
  margin-bottom: 35px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.dashboard-button {
  background-color: #fddb0a;
  border: 2px solid #fddb0a;
  border-radius: 14px;
  padding: 25px 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  color: #089151;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  aspect-ratio: 6/4;
}

.dashboard-button:hover {
  background-color: #fffef2;
  border: 2px solid #fffef2;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 5rem;
  margin-bottom: 10px;
  user-select: none;
}

.label {
  user-select: none;
  font-size: 1.5rem;
}

.dashboard-container h1 {
  -webkit-text-stroke: 1px #000000; /* 👈 Contorno negro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

