
<div class="container">
  <header class="header-top">
    <button (click)="volver()" aria-label="Volver" class="btn-volver">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" >
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>
    <img src="/logo.png" alt="Logo Empresa" class="logo" />
    <h1>Proveedores</h1>
  </header>

  <div class="actions">
    <input
      type="text"
      placeholder="Buscar proveedor..."
      [(ngModel)]="searchTerm"
      (input)="filtrarProveedores()"
    />

    <label for="itemsPorPagina">Mostrar:</label>
    <select [(ngModel)]="itemsPorPagina" (change)="onChangeItemsPorPagina()">
  <option [value]="5">5</option>
  <option [value]="10">10</option>
  <option [value]="20">20</option>
  <option [value]="50">50</option>
</select>
    <a routerLink="/inventory/proveedores/nuevo" class="btn agregar">Agregar proveedor</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RUC</th>
        <th>Dirección</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let p of proveedoresPaginados">
        <td>{{ p.nombre }}</td>
        <td>{{ p.ruc }}</td>
        <td>{{ p.direccion }}</td>
        <td [ngClass]="p.estado ? 'estado-activo' : 'estado-inactivo'">
          {{ p.estado ? 'Activo' : 'Inactivo' }}
        </td>
        <td>
          <button class="editar btn" (click)="editar(p.id!)" type="button">Editar</button>

          <button (click)="eliminar(p.id!)" class="eliminar btn">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="proveedores.length === 0">
        <td colspan="5">No hay proveedores</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="totalPaginas > 1">
    <button
  *ngFor="let p of [].constructor(totalPaginas); let i = index"
  (click)="cambiarPagina(i + 1)"
  [disabled]="paginaActual === i + 1"
>
  {{ i + 1 }}
</button>
  </div>
</div>
